// Base colors
$primary-color: #00ce89;
$favorite-color: #ff79bc;
$icon-color: #bbb;
$icon-hover-color: #777;
$background-color: white;
$label-color: #bbb;
$border-color: #ddd;
$button-bg-color: #00ce89;
$text-color: white;

// Font sizes
$text-font-size: 14px;
$label-font-size: 14px;
$button-font-size: 16px;

// Borders
$border-radius: 6px;
$border: 1px solid $border-color;

// Shadow
$shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
